.header {
  background-size: cover;
  background-position: center; 
  width: 100%; 
  height: 100vh; 
  color: white; 
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px; 
  padding-top: 100px;
}


.header-content p {
  font-weight: 400;
  font-size: 70px;
  margin-top: 1rem;
  text-align: center;
}

.header-button {
  background-color: #FDC913;
  border-radius: 30px;
  height: 50px;
  width: 200px;
  font-size: 20px;
  color: black;
  font-weight: bold;
  margin-top: 1.5rem;
  border: none; 
  cursor: pointer; 
}

.header-button:hover {
  background-color: #f4b400; 
}


.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ce2829;
  padding: 20px;
  text-align: center;
  
}

.form-header img {
  max-width: 150px;
}

.siparis-alani-container {
  display: flex;
  justify-content: center;
  background-color: #FAF7F2;
  margin-top: 20px;
}

.siparis-alani-content {
  margin: 0;
  padding: 0;
  width: 70%;
  border-radius: 8px;
  width: 532px;
}


.nav-menu a {
  text-decoration: none;
  color: #292929;
  font-weight: bold;
}

.pizza-bilgi {
  display: flex;
  align-items: center;
  gap: 10px;
  
}

.pizza-bilgi h1 {
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.pizza-bilgi p {
  color: #666;
}

form {
  margin-top: 20px;
}
.abc{
  display: block;
  width: 532px;
}

label {
  font-weight: bold;
  color: #333;
}

input[type='text'], select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.material-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.material-item label {
  cursor: pointer;
}

.order-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  background: #eeeeee;
  padding: 15px;
  border-radius: 6px;
}

.order-summary-card h5 {
  font-weight: bold;
  margin-bottom: 10px;
}

.order-summary-quantity button, .order-submit-button {
  background-color: #ffca28;
  border: none;
  padding: 10px 15px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}



.order-summary-quantity button:hover, .order-submit-button:hover {
  background-color: #ffb300;
}


.siparis-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; 
  background-color: #FAF7F2;
}

.siparis-form {
  width: 532px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}




.success-container {
  background-color: #c8102e; 
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.success-container img {
  margin-top: 100px;
  width: auto; 
  height: auto; 
}

.success-message {
  font-size: 64px;
  font-weight: normal;
  line-height: 1.5;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
